
<div class="jumbotron1">

<h2>Welcome to the Security Division of Photo Management App!</h2>

<p class="lead">

Security Check Please!

</p>
  <center>
  <%= raw recaptcha_tags %>
  </center>
  <%=link_to "Submit" ,root_path, class: "btn  btn-lg btn-xlarge1" %>
</div>
